<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contractor Pro</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <div class="logged-in-box auth0-box logged-in" align=center>
  <h1 class='heading_h1' id="logo"><img src="//cdn.auth0.com/samples/auth0_logo_final_blue_RGB.png" /></h1>


  <button type="button" class='smallbutton' name="button">
    <a class="smallbutton" href="/home">Home</a>
  </button>
  <button type="button" class='smallbutton' name="button">
    <a class="smallbutton" href="/logout">Logout</a>
  </button>


  
  </div>

</body>
</html>
