<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contractor Pro</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <<h1>Contractor Pro</h1>
    <div>
      <a href="/contractors"><button type="button" name="See Contractors">See Contractors</button></</a>
      <a href="/clients"><button type="button" name="See Clients">See Clients</button></a>
      <a href="/jobs"><button type="button" name="See Jobs">See Jobs</button></a>

    </div>

</body>
</html>
