<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contractor Pro</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <div class="login-box auth0-box before" align=center>
  <img src="https://i.cloudup.com/StzWWrY34s.png" />
  <h3 class='heading_h3'>Contractor Pro</h3>
  <p class='par'>Authentication powered by Auth0</p>
  <button type="button" class='smallbutton' name="button">
    <a class='smallbutton' href="/login">Log In</a>
  </button>

  </div>
</body>
</html>
