{% block title %}{{ client }} | Client{% endblock %}
{% block content %}

<h1>
  {{ job.client }}
</h1>
<p>
  ID: {{ job.id }}
</p>
<p>
  PHONE: {{ job.phone }}
</p>
<p>
  ADDRESS: {{ job.address }}
</p>
<p>
  CONTRACTOR: {{ job.contractor }}
</p>
<p>
  APPOINTMENT: {{ job.start_time }}
</p>
<div>
  <a href="/jobs/{{ job.id }}/edit"><button type="button" name="Edit job">Edit Job</button></a>
  <a href="/jobs/{{ job.id }}/delete"><button type="button" name="Delete job">Delete Job</button></a>

</div>
{% endblock %}
<a href="/home">Home</a>
