<title>Cotractor Pro</title>
<link rel="stylesheet" href="/static/css/main.css">
<div class="box" align=center>


<h1 class='heading_h1'>
  {{ client.name }}
</h1>
<p class='par'>
  ID: {{ client.id }}
</p>
<p class='par'>
  PHONE: {{ client.phone }}
</p>
<p class='par'>
  ADDRESS: {{ client.address }}
</p>
</div>
<div class='box' align=center>
  <a href="/clients/{{ client.id }}/edit"><button class='smallbutton' type="button" name="Edit client">Edit Client</button></a>
  <a href="/clients/{{ client.id }}/delete"><button class='smallbutton' type="button" name="Delete client">Delete Client</button></a>

</div>

<div align=center style='margin-top:50px;'>
  <button type="button" class='smallbutton' name="button">
    <a class='smallbutton' href="/home">Home</a>
  </button>
</div>
