@charset "UTF-8";


body {
  background: #241E1C;
  font-family: arial;
  text-decoration-color: #0483FB;

}

.blue {
  color: blue;

}

.btn-default {
border: 5px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
align: center;
}

.heading_h1 {
  text-align: center;
  color: #0483FB;
  font-family: poppins;
}

.heading_h3 {
  text-align: : center;
  align: center;
  color: #0483FB;
}

.heading_h5 {
  text-align: center;
  color: #0483FB;
}

.par {
  text-align: center;
  color: #0483FB;
}

.list {
  font-size: 25px;
  text-align: center;
}
.form {
  background-color: #D0CDD0
}
.button
{
  text-align: center;
  width: 250px;
  height: 120px;
  border-radius: 100px;
  font-size: 14px;
  color: #0483FB;
  font-family: poppins;
  font-weight: 200;
  border: 5px solid #0483FB;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  background-color: #423D3C;
  transition: 1.5s;
  


}

.smallbutton {
  background-color: #423D3C;
  text-align: center;
  color: #0483FB;
}

.bt_div {
  position: relative;
  width: 300px;
  height: 100px;
  text-align: center;
  padding: 50px;
  margin: 20px;
}
