<title>Cotractor Pro</title>
<link rel="stylesheet" href="/static/css/main.css">

<div class='box' align=center >
  <form class="" method="post">
    <h1 class='heading_h1'>Edit Client</h1>
    <p class='par'>
      {{form.name.label}} <br>
      {{form.name(size=50)}}
    </p>
    <p class='par'>
      {{form.address.label}} <br>
      {{form.address(size=50)}}
    </p>
    <p class='par'>
      {{form.phone.label}} <br>
      {{form.phone(size=50)}}
    </p>
    <input class='smallbutton' type="submit" value="Edit Client">

  </form>
</div>


<a href="/">Home</a>
