<title>Cotractor Pro</title>
<link rel="stylesheet" href="/static/css/main.css">

<div class='box' align=center>
  <form class="" method="post">
    <h1 class=heading_h1>Schedule a new Job</h1>
    <p class='par'>
      {{form.client_id.label}} <br>
      {{form.client_id(size=30)}}
    </p>
    <p class='par'>
      {{form.contractor_id.label}} <br>
      {{form.contractor_id(size=30)}}
    </p>
    <p class='par'>
      {{form.start_time.label}} <br>
      {{form.start_time(size=30)}}
    </p>
    <input type="submit" class='smallbutton'value="Add Job">

  </form>
</div>


<a href="/home">Home</a>
